<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Error</title>
  
  
  <link href="/required/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" href="/required/css/style.css">

  
</head>

<body>

  
<div class="error-page">
  <div>
 
    <h1 data-h1="500">500</h1>
    <p data-p="NOT FOUND">INTERNAL SERVER ERROR</p>
 
  </div>
</div>
<div id="particles-js"></div>
  <script src='/required/js/particles.min.js'></script> 
  <script  src="/required/js/index.js"></script>
</body>

</html>
