<!DOCTYPE html>
<html>
    <%- include('./Fixed/Header.ejs'); %>
    
    <body class="skin-black">
        <%- include('./Fixed/HeaderLogo.ejs'); %>


        <div class="wrapper row-offcanvas row-offcanvas-left">
            <%- include('./Fixed/NavBar.ejs'); %>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">    
                
                <!-- Main content -->
                <section class="content">                        
                    
                </section><!-- /.content -->
             
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->


        <%- include('./Fixed/footer.ejs'); %>      
            
    </body>
</html>