<!-- header logo: style can be found in header.less -->
<header class="header">
        <a href="/admin" class="logo">
            BotJS <i class="fab fa-d-and-d"></i>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <%- include('./you.ejs'); %>
        </nav>
    </header>