<div class="navbar-right">
    <ul class="nav navbar-nav">               
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-user"></i>
                <span>You <i class="caret"></i></span>
            </a>
            <ul class="dropdown-menu">
                <!-- User image -->
                <li class="user-header bg-light-blue">
                    <img src="/required/img/user.png" class="img-circle" alt="User Image" />
                    <p>
                        You
                        <small>Member since Nov. 2012</small>
                    </p>
                </li>               
                <li class="user-footer">                                   
                    <div class="pull-right">
                        <a href="#" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>